<div class="home-slider">
    <div class="home-slider--wrapper">
        <div>
            <div class="home-slider--wrapper__inner" style="background-image: url('assets/img/slider.jpg')">
                <div class="container">
                    <h3>Bluish Global is a global seafood leader with ambitious growth goals and a dedication to sustainability and innovation.</h3>
                    <!-- <h1>WELCOME TO LIKE</h1> -->
                    <span class="dot-dash">.</span>
                    <p>We are one of the first specialized companies in its field and has accumulated expertise and advanced infrastructure in the aquaculture, food and seafood industries, wholesale sectors, Trade and the management of a number of seafood restaurants. </p>
                    <div class="slider-buttons">
                        <a href="https://www.alasmak.com.sa/en/commercial-sector/index.html" class="button">Get Started Now</a>
                        <!-- <a href="#" class="button button-w">Learn More</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- <div>
          <div class="home-slider--wrapper__inner" style="background-image: url('assets/img/slider.jpg')">
              <div class="container">
                  <h3>Our clients are our first priority</h3>
                  <h1>WELCOME TO LIKE 2</h1>
                  <span class="dot-dash">.</span>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  <div class="slider-buttons">
                      <a href="#" class="button">Get Started Now</a>
                      <a href="#" class="button button-w">Learn More</a>
                  </div>
              </div>
          </div>
      </div> -->
    </div>
    <div class="home-slider--nav">
        <div class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
        <div class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
    </div>
    <div class="home-slider--anchor">
        <span><i class="fa fa-anchor" aria-hidden="true"></i></span>
    </div>
</div>
<div class="wrapper">
    <section class="four-elements">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="four-elements--image"><i class="fa fa-eye" aria-hidden="true"></i></div>
                    <h3>Harmony</h3>
                    <p>Working with partners, we do cooperate as the ONE team.</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="four-elements--image"><i class="fa fa-heart" aria-hidden="true"></i></div>
                    <h3>Trust</h3>
                    <p>Mutual FAITH is important to move forward with partners.</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="four-elements--image"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></div>
                    <h3>Responsibility</h3>
                    <p>Having a sense of MISSIOIN to finish work well from start to finish.</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="four-elements--image"><i class="fa fa-comments-o" aria-hidden="true"></i></div>
                    <h3>Creativity</h3>
                    <p>Do not settle for the present, but constantly creates NEW things.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="our-history">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <img src="assets/img/Monitor.png" alt="" />
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <h2>Our History</h2>
                    <p>Bluish Global is a global seafood leader with ambitious growth goals and a dedication to sustainability and innovation. We are one of the first specialized companies in its field and has accumulated expertise and advanced infrastructure in the aquaculture, food and seafood industries, wholesale sectors, Trade and the management of a number of seafood restaurants.</p>
                    <p>We agree to fish farms and production plants followed by ice production and storage facilities. In addition, there is a strong supply chain consisting of warehouses and a fleet of refrigerated trucks to maintain the quality of products.</p>
                    <a href="about.html" class="button">Browse Our Work</a>
                </div>
            </div>
        </div>
    </section>
    <section class="case-study">
        <div class="container">
            <h2>Case Study</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <span class="dot-dash dark">.</span>
        </div>
        <div class="container">
            <div class="case-study--sliders">
                <div class="case-study--left">
                    <div class="case-study--left__textslider">
                        <div>
                            <div class="case-study--left__textslider__image"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></div>
                            <h4>Accumulate creative ideas</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever since the 1500s, when an unk- nown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <a href="#" class="button small">Read More</a>
                        </div>
                        <div>
                            <div class="case-study--left__textslider__image"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></div>
                            <h4>Accumulate creative ideas</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever since the 1500s, when an unk- nown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <a href="#" class="button small">Read More</a>
                        </div>
                        <div>
                            <div class="case-study--left__textslider__image"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></div>
                            <h4>Accumulate creative ideas</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever since the 1500s, when an unk- nown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <a href="#" class="button small">Read More</a>
                        </div>
                    </div>
                    <div class="case-study--left__dots"></div>
                </div>
                <div class="case-study--right">
                    <div class="case-study--right__imageslider">
                        <div>
                            <img src="assets/img/case.jpg" alt="" />
                        </div>
                        <div>
                            <img src="assets/img/case.jpg" alt="" />
                        </div>
                        <div>
                            <img src="assets/img/case.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
