<div class="intro-page">
  <div class="container">
    <h1>About Us</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  </div>
</div>
<div class="wrapper">
  <section class="our-history">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <img src="assets/img/Monitor.png" alt="" />
        </div>
        <div class="col-md-7">
          <h2>Our History</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever since the 1500s, when an unk- nown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <a href="#" class="button">Browse Our Work</a>
        </div>
      </div>
    </div>
  </section>
  <section class="our-team">
    <div class="container">
      <h2>Our Team</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <span class="dot-dash dark">.</span>
      <div class="our-team--container">
        <div class="our-team--item">
          <div class="our-team--item__image">
            <img src="assets/img/user.png" alt="" />
          </div>
          <div class="our-team--item__info">
            <h3>Steve Yoon</h3>
            <h5>Head Officer</h5>
          </div>
        </div>
        <div class="our-team--item">
          <div class="our-team--item__image">
            <img src="assets/img/user.png" alt="" />
          </div>
          <div class="our-team--item__info">
            <h3>Royce Cho</h3>
            <h5>Local Sales</h5>
          </div>
        </div>
        <div class="our-team--item">
          <div class="our-team--item__image">
            <img src="assets/img/user.png" alt="" />
          </div>
          <div class="our-team--item__info">
            <h3>Bentley Sung</h3>
            <h5>Overseas Sales</h5>
          </div>
        </div>
        <div class="our-team--item">
          <div class="our-team--item__image">
            <img src="assets/img/user.png" alt="" />
          </div>
          <div class="our-team--item__info">
            <h3>Hui Choi</h3>
            <h5>Sales Assistant</h5>
          </div>
        </div>
        <div class="our-team--item">
          <div class="our-team--item__image">
            <img src="assets/img/user.png" alt="" />
          </div>
          <div class="our-team--item__info">
            <h3>Ella Yoon</h3>
            <h5>Finance Management</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="our-history-about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Our Evolution</h2>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="assets/img/about1.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>October 2019</h4>
                  <h4 class="subheading">Our Humble Beginnings</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Bluish Global was established in October 2019 under the ideology of returning profits to producers and consumers by reducing unnecessary intermediate trading processes occurring in the global fisheries industry, including Korea.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="assets/img/about4.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>December 2019</h4>
                  <h4 class="subheading">Take a leap forward</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Based on our old know-how in the fisheries industry and wide and reliable business relationships, we have gained opportunities as a distributor to handle under-valid products, laying the foundation for a comprehensive trading company that deals with various building materials, machinery, and raw materials in addition to fisheries.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="assets/img/about2.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>July 2020</h4>
                  <h4 class="subheading">Importing Live King Crab</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Our company's main item was selected as King Crab, and for the first time, Chile King Crab was imported and distributed in Korea. Our main suppliers are Norway Coast Seafoods, Norfra, Troika and Bergen. At the same time, frozen self-contained lobsters also recruited new domestic customers and started distribution.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="assets/img/about2.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>November 2020</h4>
                  <h4 class="subheading">Phase Two Expansion</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Starting with the COVID-19 era, our company started online sales of Live King Crab and Live Lobster to play a preemptive role in the seafood market.At the same time, Russian live king crab began to be exported to the Philippines, and it has been firmly maintaining its relationship with Filipino buyers for more than a year.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="assets/img/about3.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>December 2021</h4>
                  <h4 class="subheading">Forward to another Level</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">With the aim of expanding the overseas market in earnest after two years of establishment, our company is busy supplying live Russian crab and Korean seafood to buyers around the world at reasonable prices, and at the same time signed contracts with domestic franchise companies to start distributing shrimp/lobsters to leap forward in 2022.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <h4>Be Part <br>Of Our <br>Story!</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="get-started">
    <div class="container">
      <h2>Let's Get Started Now. It's FREE!</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <a href="contact.html" class="button">Start Free Trial</a>
    </div>
  </section>
</div>
