<div class="intro-page">
  <div class="container">
    <h1>Blog</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  </div>
</div>
<div class="wrapper">
  <section class="our-blog">
    <div class="container">
      <h2>Great Integrations with Others</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <span class="dot-dash dark">.</span>
    </div>
    <div class="our-blog--container">
      <div class="our-blog--item">
        <div class="our-blog--item__image">
          <a href="single.html">
            <img src="assets/img/blog1.png" alt="">
          </a>
        </div>
        <div class="our-blog--item__text left">
          <span>art / t-shirt</span>
          <h3>T-shirt design</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.</p>
          <a href="single.html">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="our-blog--item">
        <div class="our-blog--item__image">
          <a href="single.html">
            <img src="assets/img/blog2.png" alt="">
          </a>
        </div>
        <div class="our-blog--item__text left">
          <span>art / t-shirt</span>
          <h3>T-shirt design</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.</p>
          <a href="single.html">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="our-blog--item">
        <div class="our-blog--item__text right">
          <span>art / t-shirt</span>
          <h3>T-shirt design</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.</p>
          <a href="single.html">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
        </div>
        <div class="our-blog--item__image">
          <a href="single.html">
            <img src="assets/img/blog2.png" alt="">
          </a>
        </div>
      </div>
      <div class="our-blog--item">
        <div class="our-blog--item__text right">
          <span>art / t-shirt</span>
          <h3>T-shirt design</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.</p>
          <a href="single.html">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
        </div>
        <div class="our-blog--item__image">
          <a href="single.html">
            <img src="assets/img/blog1.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="get-started">
    <div class="container">
      <h2>Let's Get Started Now. It's FREE!</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <a href="contact.html" class="button">Start Free Trial</a>
    </div>
  </section>
</div>
