<header>
  <div class="container">
    <div class="logo">
      <a href="index.html"><img src="assets/img/logo_bluish.png" alt="" /></a>
    </div>
    <div class="menu">
      <ul>
        <li><a href="index.html" class="active">Home</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
    <div class="mobile-menu"><i class="fa fa-bars"></i></div>
  </div>
</header>
<router-outlet></router-outlet>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-rss"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-skype"></i></a></li>
          <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
          <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-12">
        <p><a href="https://rubik-technologies.com/">Rubik Technologies</a></p>
      </div>
    </div>
  </div>
</footer>
